<a href="#add" class="btn-primary btn-lg nodecoration">Add New Club</a>
 
<table class="table clubtable">
  <tr>
    <td><h3>View Clubs in Lagos</h3></td>
  </tr>
  <tr ng-repeat="club in clubs">
    <td>{{club.name}}</td>
    <td>{{club.facilities}}</td>
    <td>
      <!-- <div class='col-md-6'> -->
        <img src="./img/{{club.name}}.jpg" class='club-image'>
      </div>
    </td>
    <td>
      <a class="btn btn-primary" href="#viewOne" ng-click="viewOne(clubs_id)">View</a>
      <a class="btn btn-danger" href="#signin" ng-click="deletePost()">Delete</a>
    </td>
  </tr>
</table>

